<header>
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="fw-bold fs-3">WOWOROOM</h1>
    <ul class="d-flex">
      <li>
        <a href="#">
          床墊優勢
        </a>
      </li>
      <li>
        <a href="#">
          好評推薦
        </a>
      </li>
      <li>
        <a href="#">
          運送方式
        </a>
      </li>
      <li>
        <a href="#" class="text-secondary">
          立即預訂
        </a>
      </li>
    </ul>
  </div>
</header>