.header{
  background-image: url('https://github.com/xuannn0915/JS-Final/blob/main/assets/images/banner.png?raw=true');
  height: 420px;
  padding: 48px 52px;
  margin-bottom: 60px;
}

.title{
  margin-bottom: 32px;
}

.advantage{
  margin-bottom: 60px;
  img{
    margin-bottom: 8px;
  }
}

.compare{
  padding: 48px 0;
  .table{
    width: 730px;
  }
}

.comment{
  padding: 60px 0;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}
