.header{
  background-image: url('https://github.com/xuannn0915/JS-Final/blob/main/assets/images/banner.png?raw=true');
  height: 420px;
  padding: 48px 52px;
  margin-bottom: 60px;
}

.title{
  margin-bottom: 32px;
  font-size: 28px;
  text-align: center;
}

.advantage{
  margin-bottom: 60px;
  img{
    margin-bottom: 8px;
  }
}

.compare{
  padding: 48px 0;
  .table{
    width: 730px;
  }
}

.comment{
  padding: 60px 0;
  .swiper {
    width: 100%;
  }
  
  .slide-pic {
    display: block;
    width: 95px;
    object-fit: cover;
  }
  
  .avatar{
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
}

.deliver{
  padding: 32px 0 72px 0;
  &-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    border: 3px solid #000;
    font-size: 40px;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  li:nth-child(n+2)::before{
    content:'';
    background-image: url('https://raw.githubusercontent.com/xuannn0915/JS-Final/8e3efd846769f88139bcc58e219dad8c122d8776/assets/images/caret-right-solid.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 120%;
  }
}

.product{
  padding-bottom: 60px;
  select{
    padding: 8px 12px;
    margin-bottom: 32px;
  }

  .card-pic{
    height: 302px;
    object-fit: cover;
  }

  li{
    margin-bottom: 26px;
  }

  .tag{
    padding: 8px 24px;
    top: 12px;
    right: -4px;
  }
}

.shoppingCart{
  padding: 48px 0 70px 0;
}
